.theme-btn {
  width: 3em;
  height: 3em;
  padding: 0.5em;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  background-color: transparent;
  position: fixed;
  top: 0;
  right: 0;
}

.theme-btn img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

:root,
:root.light {
  --bg-color: #fff;
  --text-color: #123;
  --badge-level1: 0;
  --badge-level2: 1;
  --badge-level3: 0;
  /* --badge-level4: 0; */
}
 
:root.dark {
  --bg-color: #121212;
  --text-color: #45ADFE;
  --badge-level1: 0;
  --badge-level2: 0;
  --badge-level3: 1;
  /* --badge-level4: 0; */
}

:root.grey {
  --bg-color: #555555;
  --text-color: #cccccc;
  --badge-level1: 1;
  --badge-level2: 0;
  --badge-level3: 0;
  /* --badge-level4: 0; */
}

:root.dyslexic {
  --bg-color: #FFFDD0;
  --text-color: #00008B;
  --badge-level1: 0;
  --badge-level2: 0;
  --badge-level3: 0;
  /* --badge-level4: 1; */
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

.theme-btn.light {
  z-index: var(--badge-level1);
}

.theme-btn.dark {
  z-index: var(--badge-level2);
}

.theme-btn.grey {
  z-index: var(--badge-level3);
}

/* .theme-btn.dyslexic {
  z-index: var(--badge-level4);
} */

/* SITE LAYOUT */

/* GLOBAL */

.container {
  display: flex;
  flex-wrap: wrap;
}

.content {
  max-width: 1000px;
}

.space-between {
  justify-content: space-between;
}

.center {
  justify-content: center;
  text-align: center;
}

/* HEADER */

header {
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  background-color: var(--bg-color);
  /* background-color: #ffffff; */
  /* border-bottom: 1px solid black; */
  border-bottom: 1px solid var(--text-color);
  height: 11.25rem;
  /* overflow: hidden; */
}

#startTime {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1rem;
}

/* MAIN */

main {
  margin: 0 20%;
  /* padding-top: 200px;
  padding-bottom: 100px; */
  /* height: calc(100vh - 14.25rem);
  overflow: scroll; */
  padding-top: 11.25rem;
  padding-bottom: 3rem;
}

  /* INTRO */

  .intro {
    padding: 1rem 0;
  }

  /* SKILLS */

  .icons {
    padding: 20px;
    font-size: 40px;
  }

  /* PORTFOLIO */

  .example {
    max-width: 200px;
    margin: 20px 50px;
  }

/* FOOTER */

footer {
  /* border-top: 1px solid black; */
  border-top: 1px solid var(--text-color);
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--bg-color);
  /* background-color: #ffffff; */
  height: 3rem;
}

