/* FONTS */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.theme-btn {
  width: 3em;
  height: 3em;
  padding: 0.5em;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  background-color: transparent;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
}

.theme-btn img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

:root,
:root.light {
  --bg-color: #fff;;
  --text-color: #123;
  --badge-level1: 0;
  --badge-level2: 1;
  --badge-level3: 0;
  /* --badge-level4: 0; */
}
 
:root.dark {
  --bg-color: #123 ;
  --text-color: #fff;
  --badge-level1: 0;
  --badge-level2: 0;
  --badge-level3: 1;
  /* --badge-level4: 0; */
}

:root.grey {
  --bg-color: #555555;
  --text-color: #cccccc;
  --badge-level1: 1;
  --badge-level2: 0;
  --badge-level3: 0;
  /* --badge-level4: 0; */
}

:root.dyslexic {
  --bg-color: #FFFDD0;
  --text-color: #00008B;
  --badge-level1: 0;
  --badge-level2: 0;
  --badge-level3: 0;
  /* --badge-level4: 1; */
}

:root.gallery {
  --galWidth: 500px;
}

html {
  scroll-padding-top: 16rem; /* This line is absolute gold! how to deal with content vanishing behind a fixed heading/nav bar */
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;
}

.theme-btn.light {
  z-index: var(--badge-level1);
}

.theme-btn.dark {
  z-index: var(--badge-level2);
}

.theme-btn.grey {
  z-index: var(--badge-level3);
}

/* .theme-btn.dyslexic {
  z-index: var(--badge-level4);
} */

/* SITE LAYOUT */

/* GLOBAL */

.container {
  display: flex;
  flex-wrap: wrap;
}

.content {
  max-width: 1000px;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.center {
  justify-content: center;
  text-align: center;
}

/* HEADER */

header {
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  background-color: var(--bg-color);
  /* background-color: #ffffff; */
  /* border-bottom: 1px solid black; */
  border-bottom: 1px solid var(--text-color);
  height: 7rem;
  /* overflow: hidden; */
  z-index: 1;
}

#startTime {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 5rem;
  display: none;
}

#time-greeting {
  display: none;
}

#siteNav {
  justify-content: center;
}

#siteNav ul {
  list-style: none;
}

#siteNav ul li {
  padding: 20px 10px;
}

/* MAIN */

main {
  margin: 0 auto;
  /* padding-top: 200px;
  padding-bottom: 100px; */
  /* height: calc(100vh - 14.25rem);
  overflow: scroll; */
  padding-top: 7rem;
  padding-bottom: 3rem;
}

  /* INTRO */

  #intro {
    padding: 1rem 0;
  }

  /* SKILLS */

  .icons {
    padding: 20px;
    font-size: 40px;
    transition: font-size 0.2s, padding 0.2s;
  }

  .icons:hover {
    font-size: 60px;
    padding: 0 10px;
    transition: font-size 0.2s, padding 0.2s;
  }

  /* PORTFOLIO */

  .demo_sites {
    text-decoration: none;
    color: black;
    /* z-index: -1; */
  }

  .example {
    /* max-width: var(--galWidth); */
    max-width: 400px;
    margin: 20px 50px;
    justify-content: center;
    border: 1px solid black;
    border-radius: 5px;
    padding: 1rem;
    position: relative;
    align-items: center;
  }

  .example .highlight {
    position: absolute;
    visibility: hidden;
    transition: visibility 0.5s;
    justify-content: center;
  }

  .example:hover .highlight {
    visibility: visible;
    transition: visibility 0.5s;
  }

  .example:hover img {
    opacity: 30%;
    transition: opacity 0.5s;
  }

  .example img {
    opacity: 100%;
    transition: opacity 0.5s;
  }

  .highlight * {
    padding: 1rem 1rem;
  }

/* FOOTER */

#info {
  /* border-top: 1px solid black; */
  border-top: 1px solid var(--text-color);
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--bg-color);
  /* background-color: #ffffff; */
  height: 4.3125rem;
  padding: 10px;
}

#info section {
  align-content: center;
}

