.theme-btn {
  width: 3em;
  height: 3em;
  padding: 0.5em;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  background-color: transparent;
  position: absolute;
  top: 0;
  right: 0;
}

.theme-btn img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

:root,
:root.light {
  --bg-color: #fff;
  --text-color: #123;
  --badge-level1: 0;
  --badge-level2: 1;
  --badge-level3: 0;
  /* --badge-level4: 0; */
}
 
:root.dark {
  --bg-color: #121212;
  --text-color: #45ADFE;
  --badge-level1: 0;
  --badge-level2: 0;
  --badge-level3: 1;
  /* --badge-level4: 0; */
}

:root.grey {
  --bg-color: #555555;
  --text-color: #cccccc;
  --badge-level1: 1;
  --badge-level2: 0;
  --badge-level3: 0;
  /* --badge-level4: 0; */
}

:root.dyslexic {
  --bg-color: #FFFDD0;
  --text-color: #00008B;
  --badge-level1: 0;
  --badge-level2: 0;
  --badge-level3: 0;
  /* --badge-level4: 1; */
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

.theme-btn.light {
  z-index: var(--badge-level1);
}

.theme-btn.dark {
  z-index: var(--badge-level2);
}

.theme-btn.grey {
  z-index: var(--badge-level3);
}

/* .theme-btn.dyslexic {
  z-index: var(--badge-level4);
} */

/* SITE LAYOUT */

/* GLOBAL */

.container {
  display: flex;
}

.content {
  max-width: 1000px;
}

/* HEADER */

/* MAIN */

  /* INTRO */


  /* SKILLS */

/* FOOTER */